In [9]:
#MAP()
my_grades = ['B','C','B','D']

In [10]:
import pandas as pd
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [14]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))
    
print()

grades = [round(i) for i in my_grades]
for i in grades:
    print(i)

92
85
87
98

92
85
87
98

In [17]:
#MAP AND FORMAT TOGETHER - MAP DOES NOT WORK ON LIST OBJECTS, MUST CONVERT TO SERIES OR ITERATE
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object