In [73]:
import pandas as pd

school_file = 'Resources\schools_complete.csv'
student_file = 'Resources\clean_students_complete.csv'

school_data = pd.read_csv(school_file)
student_data = pd.read_csv(student_file)

In [74]:
#WE WILL MERGE BOTH DATAFRAMES TOGETHER USING THE .MERGE() METHOD. THERE MUST BE A COLUMN OF THE SAME NAME IN EACH DF
# MERGE() ARGS - 
    #ADD THE DATAFRAMES TO BE MERGED
    #ADD THE SHARED COLUMN TO EACH DATAFRAME SO THAT THE MERGE CAN HAPPEN
    #DEFINE HOW THE DF SHOULD BE MERGED: LEFT/RIGHT/INNER/OUTER

In [75]:
print('Columns For Both DFs')
print(', '.join(school_data.columns))
print(', '.join(student_data.columns))

Columns For Both DFs
School ID, school_name, type, size, budget
Unnamed: 0, Student ID, student_name, gender, grade, school_name, reading_score, math_score

In [76]:
#MERGING
                                #file1        file2               column          matching column
#                                 |             |                    |               |
school_data_complete = pd.merge(student_data, school_data, on=["school_name", "school_name"])

# THERE IS AN EXTRA INDEX COLUMN THAT IS NOT IN THE MODULE, DROPPING IT - FROM STUDENT_DATA

school_data_complete = school_data_complete.drop(columns=['Unnamed: 0'])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [77]:
#COUNT OF STUDENTS - COUNT OF UNIQUE SCHOOLS

student_count = school_data_complete['Student ID'].count()
print(f"Count of All Students by ID: {student_count}")
print()

school_count = len(school_data_complete['school_name'].unique())
print(f"Count of All Schools by Name: {school_count}")

Count of All Students by ID: 39170

Count of All Schools by Name: 15

In [78]:
#USING SUM() ON BUDGET COLUMN
#MAKING SURE TO USE IT ON THE SCHOOL_DATA DATAFRAME AND NOT THE COMPLETED ONE - HAS DUPLICATE BUDGET ENTRIES PER STUDENT

total_budget = sum(school_data['budget'])
print(f"Sum of Budget Column: ${total_budget:,}")

Sum of Budget Column: $24,649,428

In [79]:
#AVERAGE SCORES
math_avg = school_data_complete["math_score"].mean()
reading_avg = school_data_complete["reading_score"].mean()

print(f"The average Math score across all students: {math_avg}")
print(f"The average Reading score across all students: {reading_avg}")

The average Math score across all students: 78.98537145774827
The average Reading score across all students: 81.87784018381414

In [80]:
#PASSING GRADES - CONDITIONALS ON COLUMNS SAVED IN A VARIABLE RETURN A DATAFRAME OF BOOLEAN VALUES BASED ON CONDITIONAL

## passing_math = school_data_complete["math_score"] >= 70
## passing_reading = school_data_complete["reading_score"] >= 70

#PASSING GRADES - RETURNING A MODIFIED DATAFRAME THAT ONLY INCLUDE THE VALUES CHANGED TO THOSE THAT PASS CONDITIONAL
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]

passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [81]:
#COUNT OF PASSING STUDENTS FOR EACH CLASS:
math_count = passing_math['student_name'].count()
reading_count = passing_reading['student_name'].count()

#PERCENTAGE OF STUDENTS THAT PASSED EACH:
math_pass_perc = (math_count/student_count)*100
reading_pass_perc = (reading_count/student_count)*100

print(f"{math_pass_perc}% of students passed Math with {math_count} out of {student_count}")
print(f"{reading_pass_perc}% of students passed Reading with {reading_count} out of {student_count}")

74.9808526933878% of students passed Math with 29370 out of 39170
85.80546336482001% of students passed Reading with 33610 out of 39170

In [82]:
#STUDENTS THAT PASSED BOTH CLASSES - SAME LIST COMPREHENSION AS ABOVE BUT USING THE '&' OPERATOR

passing_both = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
passing_both_count = passing_both['student_name'].count()

#PERCENTAGE OF STUDNETS PASSING BOTH CLASSES
passing_both_perc = (passing_both_count/student_count)*100


print(f"{passing_both_perc}% of Students are Passing Both Math and Reading with {passing_both_count} out of {student_count}")

65.17232575950983% of Students are Passing Both Math and Reading with 25528 out of 39170

In [99]:
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
     "Total Students": student_count,
      "Total Budget": total_budget,
      "Average Math Score": math_avg,
      "Average Reading Score": reading_avg,
      "% Passing Math": math_pass_perc,
      "% Passing Reading": reading_pass_perc,
      "% Overall Passing": passing_both_perc,
     
     }]
)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [100]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [101]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [102]:
#AVERAGE MATH AND READING FORMATTING
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.1f}".format)

#THERE ARE SERIOUS ISSUES WITH THE INSTRUCTIONS IN MODULE 4.7.8 - RUN JUPYTER FROM THE TOP IF YOU HIT TRACEBACKS
print(district_summary_df["Average Math Score"])
print(district_summary_df["Average Reading Score"])

0    79.0
Name: Average Math Score, dtype: object
0    81.9
Name: Average Reading Score, dtype: object

In [103]:
#FORMATTING THE PERCENTAGE VARIABLS

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

print(district_summary_df['% Passing Math'])
print(district_summary_df['% Passing Reading'])
print(district_summary_df['% Overall Passing'])

0    75
Name: % Passing Math, dtype: object
0    86
Name: % Passing Reading, dtype: object
0    65
Name: % Overall Passing, dtype: object

In [104]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65